{% extends 'home2/base.html' %} 
{% load static %} 

{% block title %} 
  {{ category }} - {{ probName }}
{%endblock %} 

{% block style %}
  <link rel="stylesheet" href="{% static 'leetcode/src/css/colorScheme.css' %}" />
  <link rel="stylesheet" href="{% static 'leetcode/src/css/codepage.css' %}" />
{% endblock %} 

{% block body %}
<div class="container mt-4 mb-4">
  <div class="row justify-content-end">
    <div class="col-9">
      <div class="card" id="codeEditor">
        <!-- Description -->
        <div class="card-header bg-white">
          <div class="questionDescription">
            <h2 class="text-center mr-5 mb-1">{{ probName }}</h2>
            <hr>
            <div class="details">
              <p>
                {{ desc1 }}
              </p>
              <p>
                {{ desc2 }}
              </p>
            </div>
            <code>
              {{ begin }}
              {% for example in examples %}
                <br>&emsp;&emsp;{{ example }}
              {% endfor %}
            </code>
          </div>
        </div>
        <!-- Content -->
        <div class="card-body bg-dark p-2">
          <nav>
            <div class="nav nav-tabs bg-dark d-flex justify-content-center" id="nav-tab" role="tablist">              
              <div class="mr-auto">
                <div class="row">
                  <h5 class="ml-4 text-info">Unicorn.org</h5>
                </div>
              </div>
              <a
                class="nav-item nav-link active"
                id="nav-editor-tab"
                data-toggle="tab"
                href="#nav-cpp"
                role="tab"
                aria-controls="nav-cpp"
                aria-selected="true"
                >C++</a
              >
              <!-- <a
                class="nav-item nav-link ml-1 mr-2"
                id="nav-python-tab"
                data-toggle="tab"
                href="#nav-python"
                role="tab"
                aria-controls="nav-python"
                aria-selected="false"
                >Python</a
              > -->
              <div id="editorSearch" class="ml-auto mr-4">
                <div class="row">
                  <form class="form-inline my-2 my-md-0">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                  </form>
                </div>
              </div>     
            </div>
          </nav>
          <div class="codeContent bg-light">
            <div class="tab-content" id="nav-tabContent">
              <!-- cpp -->
              <div
                class="tab-pane fade show active"
                id="nav-cpp"
                role="tabpanel"
                aria-labelledby="nav-cpp-tab"
              >
                <div class="highlight">
                  {% include cppURL %}
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- Footer -->
        <div class="card-footer bg-white">
          {% for note in notes %}
            <p>{{ note }}</p>
          {% endfor %}
        </div>
      </div>
    </div>    
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML"></script>
<script src="{% static 'leetcode/src/js/math.js' %}"></script>

<script>
  document.querySelector( '.zoom-section' ).addEventListener( 'click', function( event ) {
      event.preventDefault();
      zoom.to({ element: event.target });
  } );
</script>
{% endblock %}
