{% extends 'home/base.html' %} 
{% load static %} 

{% block title %} 
  Homepage 
{% endblock %}

{% block body %}

<!-- <link rel="stylesheet" href="{% static 'home/src/css/homepage.css' %}"> -->

<main role="main" class="container">
  <!-- Quote -->
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="px-3 py-3 pt-md-2 pb-md-0 mx-auto text-center">
        <blockquote>
          <p class="lead mb-1" style="font-size: 1.6rem;">
            We turn not older with years, but newer every day.
          </p>
          <footer
            class="blockquote-footer text-right pr-6"
            style="font-size: 1rem;"
          >
            Emily Dickinson
          </footer>
        </blockquote>
      </div>
      <hr />
    </div>
  </div>

  <!-- WebApp Display -->
  <div class="row mb-2 mt-4">
    <!-- Checker -->
    <div class="col-md-6 mb-2">
      <div class="card mb-3">
        <div
          class="row h-md-250 no-gutters overflow-hidden flex-md-row shadow-sm position-relative"
        >
          <div class="col d-flex flex-column position-static">
            <div class="card-body">
              <strong class="d-inline-block mb-1 text-primary"
                >Webapp</strong
              >
              <h5 class="card-title mb-0">Checker</h5>
              <div class="mb-2 text-muted">Apr 4</div>
              <p class="card-text mb-3">
                The app will help you check if your regular expression works well.
              </p>
              <a href="{% url 'checker' %}" class="stretched-link"
                >Go to app</a
              >
            </div>
          </div>
          <div class="col-4 d-none d-lg-block">
            <img
              src="{% static 'home/src/images/design0.jpg' %}"
              class="card-img"
              alt="img"
              height="230"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Login Demo -->
    <div class="col-md-6 mb-2">
      <div class="card mb-3">
        <div
          class="row h-md-250 no-gutters overflow-hidden flex-md-row shadow-sm position-relative"
        >
          <div class="col d-flex flex-column position-static">
            <div class="card-body">
              <strong class="d-inline-block mb-1 text-success"
                >Design</strong
              >
              <h5 class="card-title mb-0">Login Demo</h5>
              <div class="mb-2 text-muted">Apr 4</div>
              <p class="card-text mb-1">
                This is a wider card with supporting text below as a
                natural lead-in.
              </p>
              <a href="{% url 'login' %}" class="stretched-link"
                >Go to visit</a
              >
            </div>
          </div>
          <div class="col-4 d-none d-lg-block">
            <img
              src="{% static 'home/src/images/design3.jpg' %}"
              class="card-img"
              alt="img"
              height="230"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Radar -->
    <div class="col-md-6 mb-2">
      <div class="card mb-3">
        <div
          class="row h-md-250 no-gutters overflow-hidden flex-md-row shadow-sm position-relative"
        >
          <div class="col d-flex flex-column position-static">
            <div class="card-body">
              <strong class="d-inline-block mb-1 text-success"
                >Design</strong
              >
              <h5 class="card-title mb-0">Login Demo</h5>
              <div class="mb-2 text-muted">Apr 4</div>
              <p class="card-text mb-1">
                This is a wider card with supporting text below as a
                natural lead-in.
              </p>
              <a href="{% url 'checker' %}" class="stretched-link"
                >Go to visit</a
              >
            </div>
          </div>
          <div class="col-4 d-none d-lg-block">
            <img
              src="{% static 'home/src/images/design3.jpg' %}"
              class="card-img"
              alt="img"
              height="230"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Ticktock -->
    <div class="col-md-6 mb-2">
      <div class="card mb-3">
        <div
          class="row h-md-250 no-gutters overflow-hidden flex-md-row shadow-sm position-relative"
        >
          <div class="col d-flex flex-column position-static">
            <div class="card-body">
              <strong class="d-inline-block mb-1 text-success"
                >Design</strong
              >
              <h5 class="card-title mb-0">Login Demo</h5>
              <div class="mb-2 text-muted">Apr 4</div>
              <p class="card-text mb-1">
                This is a wider card with supporting text below as a
                natural lead-in.
              </p>
              <a href="{% url 'checker' %}" class="stretched-link"
                >Go to visit</a
              >
            </div>
          </div>
          <div class="col-4 d-none d-lg-block">
            <img
              src="{% static 'home/src/images/design3.jpg' %}"
              class="card-img"
              alt="img"
              height="230"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
