{% load static %}
<div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4 mb-4 bg-white border-bottom shadow-sm">
    <img class="mb-1 mr-2" src="{% static 'home/src/icon/icon_512x512@2x.png' %}" alt="icon" width="30" height="30">
    <h5 class="my-0 mr-md-auto font-weight-normal">Unicorn WebApp</h5>
    <nav class="my-2 my-md-0 mr-md-3" style="font-size: 1.1rem">
        <a class="p-2 text-dark" href="{% url 'homepage' %}">Home</a>
        <a class="p-2 text-dark" href="#">Profile</a>
        <a class="p-2 text-dark" href="#">Contact</a>
    </nav>
    <a class="btn btn-outline-primary" href="https://github.com/yolkoo95/django">Github</a>
</div>


  
