{% extends 'logindemo/base.html' %}
{% load static %}

{% block title %}
  Terms &mdash; Unicorn
{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{% static 'logindemo/terms.css' %}">

    <div id="app">
      <section class="section">
        <div class="container mt-5">
          <div class="row text-justify">
            <div
              class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2"
            >
              <div class="login-brand" style="font-size: 2rem;">
                Unicorn
              </div>
              <div class="card card-primary">
                <div class="card-header">
                  <h4>Terms of Service</h4>
                </div>
                <div class="card-body">
                  <h6>Privacy Policy</h6>
                  <p>
                    &emsp;&emsp;Protecting your private information is our
                    priority. This Statement of Privacy applies to
                    www.yolkoo.com and Unicorn and governs data collection and
                    usage. For the purposes of this Privacy Policy, unless
                    otherwise noted, all references to Unicorn include
                    www.yolkoo.com and Unicorn . The Unicorn website is a Web
                    Application for general public to use freely site. By using
                    the Unicorn website, you consent to the data practices
                    described in this statement.
                  </p>
                  <h6>Collection of your Personal Information</h6>
                  <p>
                    &emsp;&emsp;We do not collect any personal information about
                    you unless you voluntarily provide it to us. However, you
                    may be required to provide certain personal information to
                    us when you elect to use certain products or services
                    available on the Site. These may include:
                  </p>
                  <ul>
                    <li>
                      registering for an account on our Site;
                    </li>
                    <li>
                      entering a sweepstakes or contest sponsored by us or one
                      of our partners;
                    </li>
                    <li>
                      signing up for special offers from selected third parties;
                    </li>
                    <li>
                      sending us an email message;
                    </li>
                    <li>
                      submitting your credit card or other payment information
                      when ordering and purchasing products and services on our
                      Site.
                    </li>
                  </ul>
                  <p>
                    &emsp;&emsp;To wit, we will use your information for, but
                    not limited to, communicating with you in relation to
                    services and/or products you have requested from us. We also
                    may gather additional personal or non-personal information
                    in the future.
                  </p>
                  <h6>Sharing Information with Third Parties</h6>
                  <p>
                    &emsp;&emsp;Unicorn does not sell, rent or lease its
                    customer lists to third parties. Unicorn may share data with
                    trusted partners to help perform statistical analysis, send
                    you email or postal mail, provide customer support, or
                    arrange for deliveries. All such third parties are
                    prohibited from using your personal information except to
                    provide these services to Unicorn and they are required to
                    maintain the confidentiality of your information.
                  </p>
                  <p>
                    &emsp;&emsp;Unicorn may disclose your personal information,
                    without notice, if required to do so by law or in the good
                    faith belief that such action is necessary to:
                  </p>
                  <ul>
                    <li>
                      conform to the edicts of the law or comply with legal
                      process served on Unicorn or the site;
                    </li>
                    <li>
                      protect and defend the rights or property of Unicorn;
                    </li>
                    <li>
                      act under exigent circumstances to protect the personal
                      safety of users of Unicorn , or the public.
                    </li>
                  </ul>
                  <h6>Links</h6>
                  <p>&emsp;&emsp;This website contains links to other sites. Please be aware 
                    that we are not responsible for the content or privacy practices of such 
                    other sites. We encourage our users to be aware when they leave our site 
                    and to read the privacy statements of any other site that collects personally 
                    identifiable information.</p>
                  <h6>Children Under Thirteen</h6>
                  <p>&emsp;&emsp;Unicorn does not knowingly collect personally identifiable 
                    information from children under the age of thirteen. If you are under the 
                    age of thirteen, you must ask your parent or guardian for permission to use 
                    this website.</p>
                  <h6>E-mail Communications</h6>
                  <p>&emsp;&emsp;From time to time, Unicorn may contact you via email for the 
                    purpose of providing announcements, promotional offers, alerts, confirmations, 
                    surveys, and/or other general communication.</p>
                  <h6>Changes to this Statement</h6>
                  <p>&emsp;&emsp;Unicorn reserves the right to change this Privacy Policy from time 
                    to time. We will notify you about significant changes in the way we treat personal 
                    information by sending a notice to the primary email address specified in your 
                    account, by placing a prominent notice on our site, andJor by updating any privacy 
                    information on this page. </p>
                  <h6>Contact Information</h6>
                  <p>&emsp;&emsp;Unicorn welcomes your questions or comments regarding this Statement 
                    of Privacy. If you believe that Unicorn has not adhered to this Statement, please 
                    contact Unicorn at:</p>
                  <p>&emsp;&emsp;<address>
                    &emsp;&emsp;<strong>Unicorn Inc.</strong>
                    <br>&emsp;&emsp;Shaanxi, Xi'an, China
                    <br>&emsp;&emsp;Tel:(86)13309285508
                    <br>&emsp;&emsp;15399018708@163.com
                  </address></p>
                </div>
              </div>
              <div class="simple-footer">
                Copyright &copy; 2020 IPIP
                <div class="mt-2" id="copyright"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
{% endblock %}

