<pre>
    
    <span class="c">&lt;!-- layout.html --&gt;</span>
    <span class="p">&lt;</span><span class="nt">DOCTYPE</span> <span class="na">html</span><span class="p">&gt;</span>
    
    <span class="p">&lt;</span><span class="nt">html</span> <span class="na">lang</span><span class="o">=</span><span class="s">&quot;en&quot;</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">meta</span> <span class="na">name</span><span class="o">=</span><span class="s">&quot;viewport&quot;</span> <span class="na">content</span><span class="o">=</span><span class="s">&quot;initial-scale=1, width=device-width&quot;</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">title</span><span class="p">&gt;</span> froshims <span class="p">&lt;/</span><span class="nt">title</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">head</span><span class="p">&gt;</span>
    
        <span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span>
            {% block body %}{% endblock %}
        <span class="p">&lt;/</span><span class="nt">body</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">html</span><span class="p">&gt;</span>
    
    <span class="c">&lt;!-- index.html --&gt;</span>
    {% extends &quot;layout.html&quot;%}
    
    {% block body %}
            <span class="p">&lt;</span><span class="nt">h1</span><span class="p">&gt;</span> Register for froshims<span class="p">&lt;/</span><span class="nt">h1</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">form</span> <span class="na">action</span><span class="o">=</span><span class="s">&quot;/register&quot;</span> <span class="na">method</span><span class="o">=</span><span class="s">&quot;post&quot;</span><span class="p">&gt;</span>
                <span class="p">&lt;</span><span class="nt">input</span> <span class="na">name</span><span class="o">=</span><span class="s">&quot;name&quot;</span> <span class="na">placeholder</span><span class="o">=</span><span class="s">&quot;Name&quot;</span> <span class="na">autofocus</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;text&quot;</span><span class="p">&gt;</span>
                <span class="p">&lt;</span><span class="nt">select</span> <span class="na">name</span><span class="o">=</span><span class="s">&quot;dorm&quot;</span><span class="p">&gt;</span>
                    <span class="p">&lt;</span><span class="nt">option</span> <span class="na">value</span><span class="o">=</span><span class="s">&quot;Dorm&quot;</span> <span class="na">selected</span> <span class="na">disabled</span><span class="p">&gt;</span>Dorm<span class="p">&lt;/</span><span class="nt">option</span><span class="p">&gt;</span>
                    <span class="p">&lt;</span><span class="nt">option</span> <span class="na">value</span><span class="o">=</span><span class="s">&quot;Canaday&quot;</span><span class="p">&gt;</span>Canaday<span class="p">&lt;/</span><span class="nt">option</span><span class="p">&gt;</span>
                    <span class="p">&lt;</span><span class="nt">option</span> <span class="na">value</span><span class="o">=</span><span class="s">&quot;Apley Court&quot;</span><span class="p">&gt;</span>Apley Court<span class="p">&lt;/</span><span class="nt">option</span><span class="p">&gt;</span>
                    <span class="p">&lt;</span><span class="nt">option</span> <span class="na">value</span><span class="o">=</span><span class="s">&quot;Washington&quot;</span><span class="p">&gt;</span>Washington<span class="p">&lt;/</span><span class="nt">option</span><span class="p">&gt;</span>
                <span class="p">&lt;/</span><span class="nt">select</span><span class="p">&gt;</span>
                <span class="p">&lt;</span><span class="nt">input</span> <span class="na">name</span><span class="o">=</span><span class="s">&quot;submit&quot;</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;submit&quot;</span> <span class="na">value</span><span class="o">=</span><span class="s">&quot;Register&quot;</span><span class="p">&gt;</span>
            <span class="p">&lt;/</span><span class="nt">form</span><span class="p">&gt;</span>
    {% endblock %}
    
    <span class="c">&lt;!-- success.html --&gt;</span>
    {% extends &quot;layout.html&quot; %}
    
    {% block body %}
        <span class="p">&lt;</span><span class="nt">h2</span><span class="p">&gt;</span> registered <span class="p">&lt;/</span><span class="nt">h2</span><span class="p">&gt;</span>
    {% endblock %}
    
    <span class="c">&lt;!-- failure.html --&gt;</span>
    {% extends &quot;layout.html&quot; %}
    
    {% block body %}
        <span class="p">&lt;</span><span class="nt">h2</span><span class="p">&gt;</span> failure <span class="p">&lt;/</span><span class="nt">h2</span><span class="p">&gt;</span>
    {% endblock %}</pre>