<!-- ======= Hero Section ======= -->
<section
  id="hero"
  class="d-flex flex-column align-items-center justify-content-center background-walk-y overlay-gradient-bottom"
>
  <h1>Welcome to Unicorn's Home</h1>
  <h2>CREATIVE changes world, IDEAs worth spreading.</h2>
  <a href="#about" class="btn-get-started scrollto"
    ><i class="icofont-simple-down"></i
  ></a>

  <!-- Date -->
  <div class="absolute-bottom-right text-light p-5 pb-2">
    <div class="mb-3 pb-2">
      <h4 class="font-weight-normal text-muted-transparent ml-2">
        <!-- {{ date }} -->
        Fri, Apr 9
      </h4>
    </div>
  </div>
</section>
