<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>App Store</title>

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />

    <link
      rel="stylesheet"
      href="{% static 'home/src/css/bootstrap.min.css' %}"
    />  

    <link rel="stylesheet" href="{% static 'appstore/src/css/kontext.css' %}" />
    <link rel="stylesheet" href="{% static 'appstore/src/css/frame.css' %}" />
  </head>
  <body>
    <article class="kontext">
      <div class="layer one show">
        <div role="AppShop" class="container mt-4">
          <div class="row">
            <div class="col-md-6">
              <div class="card mb-3">
                <div
                  class="row h-md-250 no-gutters overflow-hidden flex-md-row shadow-sm position-relative"
                >
                  <div class="col d-flex flex-column position-static">
                    <div class="card-body">
                      <strong class="d-inline-block mb-1 text-success"
                        >Design</strong
                      >
                      <h5 class="card-title mb-0">Login Demo</h5>
                      <div class="mb-2 text-muted">Apr 4</div>
                      <p class="card-text mb-1">
                        This is a wider card with supporting text below as a
                        natural lead-in.
                      </p>
                      <a href="{% url 'login' %}" class="stretched-link"
                        >Go to visit</a
                      >
                    </div>
                  </div>
                  <div class="col-4 d-none d-lg-block">
                    <img
                      src="src/images/design4.jpg"
                      class="card-img"
                      alt="img"
                      height="200"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card mb-3">
                <div
                  class="row h-md-250 no-gutters overflow-hidden flex-md-row shadow-sm position-relative"
                >
                  <div class="col d-flex flex-column position-static">
                    <div class="card-body">
                      <strong class="d-inline-block mb-1 text-success"
                        >Design</strong
                      >
                      <h5 class="card-title mb-0">Login Demo</h5>
                      <div class="mb-2 text-muted">Apr 4</div>
                      <p class="card-text mb-1">
                        This is a wider card with supporting text below as a
                        natural lead-in.
                      </p>
                      <a href="{% url 'login' %}" class="stretched-link"
                        >Go to visit</a
                      >
                    </div>
                  </div>
                  <div class="col-4 d-none d-lg-block">
                    <img
                      src="src/images/design2.jpg"
                      class="card-img"
                      alt="img"
                      height="200"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card mb-3">
                <div
                  class="row h-md-250 no-gutters overflow-hidden flex-md-row shadow-sm position-relative"
                >
                  <div class="col d-flex flex-column position-static">
                    <div class="card-body">
                      <strong class="d-inline-block mb-1 text-success"
                        >Design</strong
                      >
                      <h5 class="card-title mb-0">Login Demo</h5>
                      <div class="mb-2 text-muted">Apr 4</div>
                      <p class="card-text mb-1">
                        This is a wider card with supporting text below as a
                        natural lead-in.
                      </p>
                      <a href="{% url 'login' %}" class="stretched-link"
                        >Go to visit</a
                      >
                    </div>
                  </div>
                  <div class="col-4 d-none d-lg-block">
                    <img
                      src="src/images/design4.jpg"
                      class="card-img"
                      alt="img"
                      height="200"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card mb-3">
                <div
                  class="row h-md-250 no-gutters overflow-hidden flex-md-row shadow-sm position-relative"
                >
                  <div class="col d-flex flex-column position-static">
                    <div class="card-body">
                      <strong class="d-inline-block mb-1 text-success"
                        >Design</strong
                      >
                      <h5 class="card-title mb-0">Login Demo</h5>
                      <div class="mb-2 text-muted">Apr 4</div>
                      <p class="card-text mb-1">
                        This is a wider card with supporting text below as a
                        natural lead-in.
                      </p>
                      <a href="{% url 'login' %}" class="stretched-link"
                        >Go to visit</a
                      >
                    </div>
                  </div>
                  <div class="col-4 d-none d-lg-block">
                    <img
                      src="src/images/design4.jpg"
                      class="card-img"
                      alt="img"
                      height="200"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card mb-3">
                <div
                  class="row h-md-250 no-gutters overflow-hidden flex-md-row shadow-sm position-relative"
                >
                  <div class="col d-flex flex-column position-static">
                    <div class="card-body">
                      <strong class="d-inline-block mb-1 text-success"
                        >Design</strong
                      >
                      <h5 class="card-title mb-0">Login Demo</h5>
                      <div class="mb-2 text-muted">Apr 4</div>
                      <p class="card-text mb-1">
                        This is a wider card with supporting text below as a
                        natural lead-in.
                      </p>
                      <a href="{% url 'login' %}" class="stretched-link"
                        >Go to visit</a
                      >
                    </div>
                  </div>
                  <div class="col-4 d-none d-lg-block">
                    <img
                      src="src/images/design4.jpg"
                      class="card-img"
                      alt="img"
                      height="200"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card mb-3">
                <div
                  class="row h-md-250 no-gutters overflow-hidden flex-md-row shadow-sm position-relative"
                >
                  <div class="col d-flex flex-column position-static">
                    <div class="card-body">
                      <strong class="d-inline-block mb-1 text-success"
                        >Design</strong
                      >
                      <h5 class="card-title mb-0">Login Demo</h5>
                      <div class="mb-2 text-muted">Apr 4</div>
                      <p class="card-text mb-1">
                        This is a wider card with supporting text below as a
                        natural lead-in.
                      </p>
                      <a href="{% url 'login' %}" class="stretched-link"
                        >Go to visit</a
                      >
                    </div>
                  </div>
                  <div class="col-4 d-none d-lg-block">
                    <img
                      src="src/images/design4.jpg"
                      class="card-img"
                      alt="img"
                      height="200"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="layer two">
        <div role="AppShop" class="container mt-2">
          <div class="row">
            <div class="col-md-6">
              <div class="card mb-3">
                <div
                  class="row h-md-250 no-gutters overflow-hidden flex-md-row shadow-sm position-relative"
                >
                  <div class="col d-flex flex-column position-static">
                    <div class="card-body">
                      <strong class="d-inline-block mb-1 text-success"
                        >Design</strong
                      >
                      <h5 class="card-title mb-0">Login Demo</h5>
                      <div class="mb-2 text-muted">Apr 4</div>
                      <p class="card-text mb-1">
                        This is a wider card with supporting text below as a
                        natural lead-in.
                      </p>
                      <a href="{% url 'login' %}" class="stretched-link"
                        >Go to visit</a
                      >
                    </div>
                  </div>
                  <div class="col-4 d-none d-lg-block">
                    <img
                      src="src/images/design4.jpg"
                      class="card-img"
                      alt="img"
                      height="200"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card mb-3">
                <div
                  class="row h-md-250 no-gutters overflow-hidden flex-md-row shadow-sm position-relative"
                >
                  <div class="col d-flex flex-column position-static">
                    <div class="card-body">
                      <strong class="d-inline-block mb-1 text-success"
                        >Design</strong
                      >
                      <h5 class="card-title mb-0">Login Demo</h5>
                      <div class="mb-2 text-muted">Apr 4</div>
                      <p class="card-text mb-1">
                        This is a wider card with supporting text below as a
                        natural lead-in.
                      </p>
                      <a href="{% url 'login' %}" class="stretched-link"
                        >Go to visit</a
                      >
                    </div>
                  </div>
                  <div class="col-4 d-none d-lg-block">
                    <img
                      src="src/images/design2.jpg"
                      class="card-img"
                      alt="img"
                      height="200"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card mb-3">
                <div
                  class="row h-md-250 no-gutters overflow-hidden flex-md-row shadow-sm position-relative"
                >
                  <div class="col d-flex flex-column position-static">
                    <div class="card-body">
                      <strong class="d-inline-block mb-1 text-success"
                        >Design</strong
                      >
                      <h5 class="card-title mb-0">Login Demo</h5>
                      <div class="mb-2 text-muted">Apr 4</div>
                      <p class="card-text mb-1">
                        This is a wider card with supporting text below as a
                        natural lead-in.
                      </p>
                      <a href="{% url 'login' %}" class="stretched-link"
                        >Go to visit</a
                      >
                    </div>
                  </div>
                  <div class="col-4 d-none d-lg-block">
                    <img
                      src="src/images/design4.jpg"
                      class="card-img"
                      alt="img"
                      height="200"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card mb-3">
                <div
                  class="row h-md-250 no-gutters overflow-hidden flex-md-row shadow-sm position-relative"
                >
                  <div class="col d-flex flex-column position-static">
                    <div class="card-body">
                      <strong class="d-inline-block mb-1 text-success"
                        >Design</strong
                      >
                      <h5 class="card-title mb-0">Login Demo</h5>
                      <div class="mb-2 text-muted">Apr 4</div>
                      <p class="card-text mb-1">
                        This is a wider card with supporting text below as a
                        natural lead-in.
                      </p>
                      <a href="{% url 'login' %}" class="stretched-link"
                        >Go to visit</a
                      >
                    </div>
                  </div>
                  <div class="col-4 d-none d-lg-block">
                    <img
                      src="src/images/design4.jpg"
                      class="card-img"
                      alt="img"
                      height="200"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card mb-3">
                <div
                  class="row h-md-250 no-gutters overflow-hidden flex-md-row shadow-sm position-relative"
                >
                  <div class="col d-flex flex-column position-static">
                    <div class="card-body">
                      <strong class="d-inline-block mb-1 text-success"
                        >Design</strong
                      >
                      <h5 class="card-title mb-0">Login Demo</h5>
                      <div class="mb-2 text-muted">Apr 4</div>
                      <p class="card-text mb-1">
                        This is a wider card with supporting text below as a
                        natural lead-in.
                      </p>
                      <a href="{% url 'login' %}" class="stretched-link"
                        >Go to visit</a
                      >
                    </div>
                  </div>
                  <div class="col-4 d-none d-lg-block">
                    <img
                      src="src/images/design4.jpg"
                      class="card-img"
                      alt="img"
                      height="200"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card mb-3">
                <div
                  class="row h-md-250 no-gutters overflow-hidden flex-md-row shadow-sm position-relative"
                >
                  <div class="col d-flex flex-column position-static">
                    <div class="card-body">
                      <strong class="d-inline-block mb-1 text-success"
                        >Design</strong
                      >
                      <h5 class="card-title mb-0">Login Demo</h5>
                      <div class="mb-2 text-muted">Apr 4</div>
                      <p class="card-text mb-1">
                        This is a wider card with supporting text below as a
                        natural lead-in.
                      </p>
                      <a href="{% url 'login' %}" class="stretched-link"
                        >Go to visit</a
                      >
                    </div>
                  </div>
                  <div class="col-4 d-none d-lg-block">
                    <img
                      src="src/images/design4.jpg"
                      class="card-img"
                      alt="img"
                      height="200"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="layer three">
        
      </div>
    </article>

    <ul class="bullets"></ul>

    <script src="{% static 'appstore/src/js/kontext.js' %}"></script>
    <script src="{% static 'appstore/src/js/util.js' %}"></script>

    <script>
      !(function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
          js = d.createElement(s);
          js.id = id;
          js.src = '../../static/appstore/src/js/widgets.js';
          fjs.parentNode.insertBefore(js, fjs);
        }
      })(document, "script", "twitter-wjs");
    </script>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="{% static 'home/src/js/bootstrap.min.js' %}"
    ></script>
  </body>
</html>
