{% extends 'appstore/radar/radarbase.html' %} 
{% load static %} 

{% block title %} 
  Radar Lab 
{%endblock %} 

{% block body %}
<link
  href="{% static 'appstore/src/css/radar/reset.css' %}"
  rel="stylesheet"
  media="screen"
/>
<link
  href="{% static 'appstore/src/css/radar/main.css' %}"
  rel="stylesheet"
  media="screen"
/>

<header>
    <h1>Radar</h1>
    <span class="header-instruction">Expand for more info.</span>

    <div class="extra">


        <section id="about">
            <h3>About</h3>
            <p>
                An experiment with real-time audio synthesis.<br>
                Works well in Chrome &amp; Safari but runs slowly in Firefox. <br>
                Thanks to <a href="http://phuu.net">Tom Ashworth</a> for harmonising the sound!
            </p>
        </section>

        <section>
            <h3>Tech</h3>
            <p>
                Radar uses <a href="https://github.com/oampo/Audiolet">Audiolet</a> to generate sound and <br>
                the visuals are rendered on HTML5 &lt;canvas&gt;. <br> <br>
            </p>
        </section>
    </div>
</header> 

<div class="main-container">
    <div id="wrapper" class="empty">
        <canvas></canvas>
        <div class="sidebar">
            <button class="save">Save</button>
            <button class="reset">Reset</button>
            <ul class="sequencer-input">
                <li data-key="a" data-scale="min">A minor</li>
                <li data-key="a" data-scale="maj">A major</li>
                <li data-key="d" data-scale="min">D minor</li>
                <li data-key="d" data-scale="maj">D major</li>
                <li data-key="e" data-scale="min">E minor</li>
                <li data-key="e" data-scale="maj">E major</li>
            </ul>
            <ul class="sequencer">
                <li class="add-key">Add Key</li>
            </ul>
        </div>
        <span class="instructions">Click on a pin to generate sound</span>
    </div>
</div>

<script src="{% static 'appstore/src/js/radar/audiolet.js' %}"></script>

<script src="{% static 'appstore/src/js/radar/util.js' %}"></script>
<script src="{% static 'appstore/src/js/radar/radar.js' %}"></script>
<script src="{% static 'appstore/src/js/radar/header.js' %}"></script>

{% endblock %}
