{% extends 'logindemo/base.html' %} 
{% load static %} 

{% block title %} 
  Register &mdash; Unicorn 
{% endblock %} 

{% block body %}
<div id="app">
  <section class="section">
    <div class="container mt-5">
      <div class="row">
        <div
          class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2"
        >
          <div class="login-brand">
            <img
              src="{% static 'home/src/icon/icon_128x128@2x.png' %}"
              alt="logo"
              width="100"
              class="shadow-light rounded-circle"
            />
          </div>
          <div class="card card-primary">
            <div class="card-header">
              <h4>Sign Up</h4>
            </div>
            <div class="card-body">
              <form action="" method="POST" class="needs-validation" novalidate>
                <div class="row">
                  <!-- name -->
                  <div class="form-group col-lg-6 col-sm-12 col-xs-12">
                    <label for="name">Nickname</label>
                    <input
                      id="name"
                      type="text"
                      class="form-control"
                      name="name"
                      required
                      autofocus
                    />
                    <div class="invalid-feedback">
                      Please fill in your nickname
                    </div>
                  </div>
                  <!-- enter email -->
                  <div class="form-group col-lg-6 col-sm-12 col-xs-12">
                    <label for="email">Email</label>
                    <div class="input-group">
                      <input
                        type="text"
                        id="email"
                        class="form-control col-7"
                        required
                      />
                      <select
                        class="custom-select input-group-append col-5"
                        id="email_postfix"
                        style="
                          border-top-right-radius: 0.25rem;
                          border-bottom-right-radius: 0.25rem;
                        "
                        required
                      >
                        <option value="@gmail.com" selected=""
                          >@gmail.com</option
                        >
                        <option value="@qq.com">@qq.com</option>
                        <option value="@outlook.com">@outlook.com</option>
                        <option value="@163.com">@163.com</option>
                        <option value="@126.com">@126.com</option>
                        <option value="@foxmail.com">@foxmail.com</option>
                      </select>
                      <div class="invalid-feedback">
                        Please fill in your email
                      </div>
                    </div>
                  </div>
                </div>
                <!-- password -->
                <div class="row">
                  <!-- enter password -->
                  <div class="form-group col-lg-6 col-sm-12 col-xs-12">
                    <label for="passwd" class="d-block">Password</label>
                    <input
                      id="passwd"
                      name="passwd"
                      type="password"
                      class="form-control pwstrength"
                      data-indicator="pwindicator"
                      required
                    />
                    <div id="pwindicator" class="pwindicator">
                      <div class="bar"></div>
                      <div class="label"></div>
                    </div>
                    <div class="invalid-feedback">
                      Please fill in your password
                    </div>
                  </div>
                  <!-- reconfirm password -->
                  <div class="form-group col-lg-6 col-sm-12 col-xs-12">
                    <label for="reconfirm-passwd" class="d-block"
                      >Confirm Password</label
                    >
                    <input
                      id="reconfirm-passwd"
                      type="password"
                      class="form-control"
                      name="reconfirm-passwd"
                      required
                    />
                    <div class="invalid-feedback">
                      Please confirm your password
                    </div>
                  </div>
                </div>
                <!-- checkbox -->
                <div class="form-group">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="invalidCheck"
                      required
                    />
                    <label class="form-check-label" for="invalidCheck">
                      By signing up, you automatically agree to our
                      <a href="{% url 'terms' %}" target="blank"
                        >Term of Service</a
                      >
                    </label>
                    <div class="invalid-feedback">
                      You must agree before submitting.
                    </div>
                  </div>
                </div>
                <!-- button -->
                <button
                  id="register-confirm"
                  class="btn btn-primary btn-lg btn-block"
                >
                  Sign Up
                </button>
              </form>
            </div>
          </div>
          <div class="mt-5 text-muted text-center">
            Already got an account? <a href="{% url 'login' %}">Sign in</a>
          </div>
          <div class="simple-footer">
            Copyright &copy; 2020 Unicorn
            <div class="mt-2" id="copyright"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- script for user input checker -->
<script src="{% static 'logindemo/src/js/form_checker.js' %}"></script>

<!-- dependency of password strength indicator: put it after jquery reference-->
<script
  type="text/javascript"
  src="{% static 'logindemo/src/js/jquery.pwstrength.js' %}"
></script>

<script type="text/javascript">
  jQuery(function ($) {
    $("#passwd").pwstrength();
  });
</script>
{% endblock %}
